#logopic{
  width:230px;
  height:230px;
}

.logo{
  position: absolute;
  left: 50px;
  top: 25px;
  height: 230px;
  width: 230px;
}

nav {
  position: absolute;
  top: 50px;
  right:15px;
  width: 60%;
  height: 50px;
}

.link {
  width: 22%;
  margin-left: 2.5%;
  height: 80%;
  float: left;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-family:sans-serif;
  letter-spacing: 8px;
  font-weight: bold;
}

.bar{
  width: 300px;
  margin-left: 2.5%;
  margin-top: 100px;
  height: 200px;
  float: left;
}

.card{
  width: 300px;
  height: 25%
  margin-left: 2.5%;
  margin-bottom: 700px;
  height: 80%;
  float: left;
}

#card{
  position: absolute;
  height: 100px;
  width: 250px;
}

.container{
  width: 65%;
  height: 1500px;
  margin-left: 430px;
  margin-top: 200px;
  background-color: red;
}

.column{
  width: 30%;
  height: 1500px;
  margin: 1.5%;
  float: left;
}

#image{
  width: 100%;
  margin-top: 10%;
}

#next{
  float: right;
  margin-top: 30px;
  font-family: sans-serif;
  letter-spacing: 8px;
  font-weight: bold;
}
